<div id="science-advisor-modal" class="modal-overlay" style="display: none;">
  <div class="modal-dialog science-advisor-dialog">
    <div class="science-advisor-title">
      <span data-i18n="templates.scienceAdvisor.title">Science Advisor:</span>
      <button class="modal-close" id="science-advisor-close">×</button>
    </div>
    <div class="science-advisor-content">
      <div class="advisor-image">
        <img src="/game1.png" alt="Science Advisor" class="advisor-portrait" data-i18n="templates.scienceAdvisor.portraitAlt" data-i18n-attr="alt">
      </div>
      <div class="advisor-message">
        <p class="advisor-text" data-i18n="templates.scienceAdvisor.prompt">Which discovery should our wise men be pursuing, sire? Pick one...</p>
        <div class="technology-options" id="science-advisor-tech-list">
          <!-- Technology options will be inserted here -->
        </div>
      </div>
    </div>
    <div class="modal-buttons">
      <button class="modal-button" id="science-advisor-help" data-i18n="templates.scienceAdvisor.help">Help</button>
      <button class="modal-button primary" id="science-advisor-ok" data-i18n="templates.scienceAdvisor.ok">OK!</button>
    </div>
  </div>
</div>
